@{
    ViewData["Title"] = "INICIO";
}

<link rel="stylesheet" href="~/css/P1StyleSheet.css" />
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Monda' />

<div class="text-center">
    <h1 class="display-4">@ViewBag.Vname</h1>
    <h2>@ViewBag.V2</h2>
    <img id="foto" src="~/img/foto.jpg" alt="kawscookiemonster" />
    <br />
    <img id="foto" src="~/img/shadow.png" alt="shadow" />
</div>

<div class="row justify-content-center text-center bg-danger">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi Página querido Internauta</h1>
        <p>
            He estudiado Ciclo formativo de grado superior de DAW en Escuela Monlau
            <br />He realizado varios proyectos durante mis estudios
        </p>
    </div>
</div>