<section id="experiencias">
	<h1>¿Dónde he tenido experiencias extras?</h1>
	<p id="pExp">He estado de prácticas en el CFGM en una empresa llamada MERCHANSERVIS S.A, en la cuál obtuve mucha experiencia sobre mantenimiento
		de equipos informáticos, esa experiencia me sirvió para sacar mejores notas en ese ciclo, después este verano pasado he trabajado 
		para ellos durante 2 semanas para hacer un cambio de programa de VPN, para poder conectarse a la oficina desde casa sin tener que 
		utilizar prograams externos que hacen que trabajar sea de manera menos eficiente.
	</p>
	<br />
	<br />
	<img src="/img/logomerchan.png" id="fotomerchan">
	<br />
	<br />
	<a class="btn btn-dark" href="https://merchanservis.com" role="button">Pulsa para ver la página de la empresa</a>
	<br />
	<br />
	<p id="pExp">También he ido adquieriendo experiencia ayudando a mis amigos y vecinos para yo aprender más de los problemas que suelen tener y así
		si alguno de sus conocidos tiene algún problema que me pueda llamar y yo voy encantado para poder aprender y seguir reparando/restaurando/programando
		páginas WEB, de manera totalmente gratuita solo para tener experiencia.
	</p>
    <button id="modalbutton" type="button" class="btn btn-dark" data-bs-toggle="modal"
            data-bs-target="#exampleModal1">Foto Ejemplo</button>
    <br>
    <main class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
        <main class="modal-dialog modal-lg">
            <main class="modal-content">
                <main class="modal-header">
                    <h1>EJEMPLO DE QUE AYUDA REALIZO A MIS AMIGOS Y VECINOS</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </main>
                <main class="modal-body">
                    <main class="embed-responsive embed-responsive-16by9">
                        <img src="/img/webcode.png" id="fotoCode"/>
                    </main>
                </main>
                <main class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </main>
            </main>
        </main>
    </main>
</section>