<p id="pForm">Aquí voy a resumir de forma muy breve y dinámica como me estoy formando</p>
<div id="contenedor">
    <main class="card border-dark">
        <img src="/img/ciclos.png" id="fotoCFGM" class="card-img-top" alt="fotoCFGM">
        <main class="card-body">
            <h5 class="card-title text-center" id="tituloCard">Centre D'estudis Monlau La Sagrera</h5>
            <p class="card-text text-center">Comencé a formarme en Monlau a través de un CFGM de SMX en el cuál conseguí sacarme el título y saber que quería saber estudiando informática.</p>
            <hr>
            <h6 class="card-subtitle mb-2 text-muted text-center" id="tituloCardSub">Me formaron de manera muy profesional y aprendí muchísima información útil que actualmente estoy aún aplicando en el CFGS de DAW.</h6>
            <hr>
            <a href="https://www.monlau.com/formacio-professional/project/grado-medio-sistemas-microinformaticos-redes-smx/" class="btn btn-outline-dark d-flex justify-content-center" id="boton">Ir a la página</a>
        </main>
    </main>

    <main class="card border-dark">
        <img src="/img/ciclos.png" id="fotoCFGM" class="card-img-top" alt="fotoCFGM">
        <main class="card-body">
            <h5 class="card-title text-center" id="tituloCard">Centre D'estudis Monlau La Sagrera</h5>
            <p class="card-text text-center">Cómo me gusto tanto el ciclo medio empecé un CFGS de DAM y me di cuenta de que mi trabajo no es ser programador de apps sino desarrollador WEB y dedicarme al frontend.</p>
            <hr>
            <h6 class="card-subtitle mb-2 text-muted text-center" id="tituloCardSub">Aquí este año estoy aprendiendo muchísimo sobre frontend y me está gustando mucho mucho hacer páginas WEB en ASP con Gerard y Roberto.</h6>
            <hr>
            <a href="https://www.monlau.com/formacio-professional/project/grado-superior-desarrollo-aplicaciones-web-daw/" class="btn btn-outline-dark d-flex justify-content-center" id="boton">Ir a la página</a>
        </main>
    </main>
</div>