<section id="sobreMI">
	<h1>¿Quién soy?</h1>
	<p id="pSobreMi"> Soy un estudiante de CFGS de DAW con muchas de ganas de emprender en una empresa para poder aprender
		más contenido y poder aplicarlo en mi día a día.
	</p>
		<img id="fotoYO" src="/img/fotoYO.png" />
		<br />
		<br />
	<p id="pSobreMi">
		Me considero una persona que cuándo le gusta algo de verdad se vuelve adicto a ello y no para de hacer cosas relacionadas,
		con eso porque me encanta aprender muchisimo.
	</p>
		<br />
		<br />
	<div id="contenedor">
	<img id="fotoAprender" src="/img/aprender.png" />
	<img id="fotoTrabajador" src="/img/trabajador.png" />
	</div>
</section>