*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background-color: #BBD0FF;
}

#foto {
    width: 250px;
    margin: 2rem 0;
    border-radius: 50%;
    box-shadow: red 4px 4px 4px;
}

.display-4{
    font-family:Monda;
}

.seccion-bienvenida {
    margin: 5rem 0 10rem 0;
    color: white;
}

.seccion-bienvenida hl
{
    margin-bottom: 1rem;
    font-family:Monda;
}

.seccion-bienvenida p {
    font-family: Monda;
    line-height: 1.5;
    font-size: 1.25rem;
}

#abajo {
    color: black;
    font-size:25px;
    font-family:Monda;
    text-decoration:none;
    margin:25px;
}

#linea{
    margin:25px;
}

.foto1,.foto2,.foto3{
    text-align:center;
}

.card {
    width: 24rem;
    margin: 1.2rem;
    border: 2px solid;
    border-radius: 15px;
    background-color: #ADE8F4;
}

#contenedor {
    display: flex;
    justify-content: center;
}

#tituloCard {
    text-decoration: 1px underline double #403d39;
    margin: 5px;
    color: #277DA1;
}

#tituloCardSub {
    margin: 5px;
}

#boton {
    background-color: #CAF0F8;
    border: 2px solid #403d39;
    border-radius: 15px;
    font-weight: bolder;
} #boton:hover {
    text-decoration: 2px underline double #403d39;
    font-size: 20px;
    color:black;
}

#fotoCFGM{
    border-radius:15px;
}

#pForm{
    text-align:center;
    font-size:25px;
    margin:35px;
}

#experiencias {
    background-color: #4361ED;
    padding:1%;
    border-radius:15px;
    border:solid black 4px;
    text-align:center;
    margin:4rem;
}

#pExp{
    margin:5px;
    font-size:25px;
    text-align:justify;
}

#fotomerchan {
    width: 450px;
    box-shadow: black 10px 10px 10px;
    background-color:white;
}

#fotoCode {
    width: 550px;
    border: 5px dotted black;
}

#pSobreMi {
    margin: 5px;
    font-size: 25px;
    text-align: justify;
}

#sobreMI {
    background-color: #4361ED;
    padding: 1%;
    border-radius: 15px;
    border: solid black 4px;
    text-align: center;
    margin: 4rem;
}

#fotoAprender {
    width: 350px;
    margin: 1rem;
    box-shadow: black 10px 10px 10px;
}

#fotoTrabajador {
    width: 350px;
    height: 450px;
    box-shadow: black 10px 10px 10px;
}

#descargarCV {
    background-color: #4361ED;
    padding: 1%;
    border-radius: 15px;
    border: solid black 4px;
    text-align: center;
    margin: 4rem;
}

#a{
    text-decoration:none;
    color:black;
    font-size:25px;
} #a:hover{
      text-decoration:underline double white;
      font-size:35px;
}

#fotoYO {
    align-items: center;
    box-shadow: black 10px 10px 10px;
}

#pConTec {
    margin: 5px;
    font-size: 25px;
    text-align: justify;
}

#ConTec {
    background-color: #4361ED;
    padding: 1%;
    border-radius: 15px;
    border: solid black 4px;
    text-align: center;
    margin: 4rem;
}

#fotoHTML,#fotoCSS,#fotoBOOTS,#fotoMONGO,#fotoPLSQL,#fotoMySQL,#fotoASP,#fotoPHP{
    width:250px;
}